.login-owner-page-wrapper {
    background-color: #f4f4f4;
    height: 100vh;
}
.login-owner-body{
    background-color: #f4f4f4;
}
.login-owner-body-title {
    margin-bottom: 15px;
    margin-top : 60px;
    width : 100%;
    text-align: center;
}
.login-owner-body-title-head{
    font-size: 40px;
    font-weight: 300;
    font-family: "Roboto",Arial,sans-serif;
    color: #353e44;
}
.login-owner-body-title-body {
    font-size: 18px;
    color: #666;
}

.login-owner-wraper {
    border-color: #dbdbdb;
    margin-bottom: 20px;
    margin-top: 75px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.login-owner-form {
    font-size: 14px;
    line-height: 20px;
    color: #353e44;
}

.login-owner-form-heading{
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 0px 5px;
    margin: 0 10px;
    position: relative;
}

.login-owner-form-heading-title{
    font-family: "Roboto",Arial,sans-serif;
    color: #666;
    font-size: 22px;
    font-weight: 300;
}

.login-owner-form-footer{
    padding: 20px 20px 30px;
    box-sizing: border-box;
}

.login-owner-input-group {
    margin-bottom: 15px;
}
.login-owner-forgot-password{
    color: #2a6ebb !important;
}
.login-owner-input-text-box {
    height: 44px;
    padding: 9px 14px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}

.login-owner-button{
    /* padding: 9px 31px; */
    font-size: 19px;
    line-height: 1.33;
    border-radius: 3px;
    background-color: #ff8a00;
    text-shadow: none;
    border-color: #ff8a00;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;


    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px; 
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    margin: 5px; 
    overflow: hidden; 
    padding: 0px 10px; 
    user-select: none; 
    height: 50px;
    
}

.signin-hr {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

.social-login {
    padding : 5px 0px 0px 0px;
}

.login-owner-decorator-image{
    padding : 75px 0px 0px 0px;
}